<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>list matching profiles</title>
</head>
<body>
<div class="row">
    <div class="main">
        <h3 class="sub-header">Matching applicants</h3>
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th> Name</th>
                    <th> Email</th>
                    <th> Phone</th>
                    <th> Minimal salary</th>
                    <th> Working type</th>
                    <th> Skills</th>
                </tr>
                </thead>
                <tbody id="matchingProfiles"></tbody>
            </table>
        </div>
    </div>
</div>

</body>
</html>