<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid">
        <div class="navbar-header">
            <ul class="nav navbar-nav navbar-left">
                <li><a style="display: inline-block" href="/">
                    <span class="glyphicon glyphicon-home" aria-hidden="true"></span></a>
                </li>
                <li>
                    <div class="navbar-brand">ABC Recruiting Portal</div>
                </li>
            </ul>
        </div>
    </div>
</nav>