<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>register new company</title>
</head>
<body>
<div style="width: 20%">
    <!-- NAME -->
    <div id="name" class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name" placeholder="company name">
    </div>

    <!-- CONTACT NUMBER -->
    <div id="phoneNumber" class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="text" class="form-control" name="phoneNumber" placeholder="example: +3266774455">
    </div>

    <p><a onclick="registerCompany()" class="btn btn-primary" role="button">Save</a></p>
</div>
</body>
</html>