<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update company data</title>
</head>
<body>
<div style="width: 20%">
    <!-- NAME -->
    <div id="name" class="form-group">
        <label for="name">Name</label>
        <input type="text" class="form-control" name="name">
    </div>

    <!-- CONTACT NUMBER -->
    <div id="phoneNumber" class="form-group">
        <label for="phoneNumber">Phone number</label>
        <input type="text" class="form-control" name="phoneNumber">
    </div>

    <p><a onclick="updateCompany()" class="btn btn-primary" role="button">Update</a></p>
</div>
</body>
</html>